import React from 'react';
<% if (component.parent) { %>import {render} from 'react-dom';<% } %><% if (component.children) for (var i = 0; i < component.children.length; i++) { %>
import <%- component.children[i].name %> from './<%- component.children[i].name %>';<% } %>

class <%- component.name %> extends React.Component {
  render() {
    return (
      <div id='<%-component.name%>'>
        <%- component.name %>
    <% if (component.children) for (i = 0; i < component.children.length; i++) { -%>
    <<%- component.children[i].name %> />
    <% } %><% -%>
  </div>
    )
  }
}

module.exports = <%- component.name %>;

<% if (component.parent) { %>render(<<%- component.name %> />, document.getElementById('main-container'));<% } %>
