var React = require('react');
var $ = require('jquery');
<% if (component.parent) { %>var ReactDOM = require('react-dom');<% } %><% if (component.children) for (var i = 0; i < component.children.length; i++) { %>
var <%- component.children[i].name %> = require('./<%- component.children[i].name %>.js');<% } %>

var <%- component.name %> = React.createClass({
  getInitialState: function() {
    return {};
  },
  render: function () {
    return (
      <div>
        <div><%- component.name %></div><% if (component.children) for (i = 0; i < component.children.length; i++) { %>
          <<%- component.children[i].name %> /><% } %>
      </div>
    )
  }
});

module.exports = <%- component.name %>;

<% if (component.parent) { %>ReactDOM.render(<%- component.name %>, document.getElementById('#container'));<% } %>
